.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
*.html
*.log
*.tex
.DS_Store
*.pdf
*.html
*.Rhistory
*.RData
A549_SARS-CoV-2.Rmd
A549-ACE2.Rmd
NHEB_SARS-CoV-2.Rmd
my first practice.Rmd
NHBE SARS–CoV-2 RNA–seq analysis.Rmd
NHBE SARS–CoV-2 RNA–seq analysis.Rproj
